@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Zen+Old+Mincho&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}
nav{
    font-family: 'Zen Old Mincho', serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: black;
    color: white;
    height: 64px;
}
nav ul li{
    padding:0 10px;
}

.brand img{
width: 50px;
padding:0 7px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
min-height: 72vh;
background-color: black;
color: white;
font-family: 'Varela Round', sans-serif;
display: flex;
margin: 23px auto;
width:70%;
border-radius: 12px;
padding: 8px;
background-image: url('bg.jpg');
background-repeat: no-repeat;
background-size: 1066px 592px;
}

.bottom{
    position: sticky;
    height: 110px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
    }

.songItems{
height: 50px;
display: flex;
background-color: white;
/* width: 90%; */
color: black;
margin: 12px 0;
justify-content: space-between;
align-items: center;
border-radius: 30px;

}
.songItemsContainer{
    margin-top: 0px;
}
.timestamp{
    padding-left:40px ;
}
.timestamp i{
    margin: 0 10px;
    cursor: pointer;
}
.songItems img{
    border-radius: 30px;
    width: 40px;
    margin: 0 22px;

}
.songInfo{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    left: 9vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}